# Logs
logs
*.log
firebase-debug.log*
firebase-debug.*.log*

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json

# Firebase cache
.firebase/

# macOS
.DS_Store

node_modules
