name: Lint

on:
  pull_request:
  workflow_call:

concurrency:
  group: ${{ github.workflow }}_${{ github.ref }}
  cancel-in-progress: true

jobs:
  functions:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./functions
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup Tools
        uses: jdx/mise-action@be3be2260bc02bc3fbf94c5e2fed8b7964baf074 # v3.4.0
      - name: Install dependencies
        run: pnpm install --prefer-frozen-lockfile
      - name: Type Check
        run: pnpm run typecheck
      - name: Lint
        run: pnpm run lint

  backend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup Tools
        uses: jdx/mise-action@be3be2260bc02bc3fbf94c5e2fed8b7964baf074 # v3.4.0
      - name: Install dependencies
        run: pnpm install --prefer-frozen-lockfile
      - name: Type Check
        run: pnpm run typecheck
      - name: Lint
        run: pnpm run lint

  frontend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup Tools
        uses: jdx/mise-action@be3be2260bc02bc3fbf94c5e2fed8b7964baf074 # v3.4.0
      - name: Install dependencies
        run: flutter pub get --enforce-lockfile
      - name: Generate OpenAPI spec
        run: pnpm install --prefer-frozen-lockfile && pnpm run generate-openapi
        working-directory: ./backend
      - name: Run build_runner
        run: flutter pub run build_runner build
      - name: Lint
        run: flutter analyze
